[submodule "submodules/zenode-helpers"]
	path = submodules/zenode-helpers
	url = https://github.com/zenodeapp/zenode-helpers.git
[submodule "submodules/substitution-matrices"]
	path = submodules/substitution-matrices
	url = https://github.com/zenodeapp/substitution-matrices.git
